# Compiled class files
*.class

# Log files
*.log

# BlueJ files (if used)
*.ctxt

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
